<a href="https://colab.research.google.com/github/devluz2023/spark/blob/master/pyspark/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# instalar as dependÃªncias
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master('local[*]').appName("Iniciando com Spark").getOrCreate()

In [ ]:
spark

In [ ]:
data = [('zeca', '35'), ('eva', '29')]
colNames = ['Nome', 'Idade']
#criar um dataframe
df = spark.createDataFrame(data, colNames)

In [ ]:
df.show()

In [ ]:
df.toPandas()

In [ ]:
import zipfile

In [ ]:
print(os.getcwd())

In [ ]:
workdir = os.getcwd()
extract = workdir + '\dataset'
arquivo = extract + '\empresas.zip'
zipfile.ZipFile(arquivo, 'r').extractall(extract)

In [ ]:
empresa_path = extract + '\empresas'
empresas = spark.read.csv(empresa_path, sep=';', inferSchema=True)
estabelecimentos_path = extract + '\estabelecimentos'
estabelecimentos = spark.read.csv(estabelecimentos_path, sep=';', inferSchema=True)
socios_path = extract + '\socios'
socios = spark.read.csv(socios_path, sep=';', inferSchema=True)

In [ ]:
print(empresas.count())
print(estabelecimentos.count())
print(socios.count())

In [ ]:
empresas.limit(5).toPandas()

In [ ]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

In [ ]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

In [ ]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [ ]:
for index, colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colName)
empresas.columns

for index, colName in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)
estabelecimentos.columns

for index, colName in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f"_c{index}", colName)
socios.columns

In [ ]:
empresas.limit(5).toPandas()

In [ ]:
socios.limit(5).toPandas()

In [ ]:
estabelecimentos.limit(5).toPandas()

In [ ]:
socios.printSchema()

In [ ]:
estabelecimentos.printSchema()

In [ ]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [ ]:
empresas.limit(5).toPandas()

In [ ]:
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',', '.'))
empresas.limit(5).toPandas()

In [ ]:
empresas.printSchema()

In [ ]:
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))

In [ ]:
empresas.limit(5).toPandas()

In [ ]:
empresas.printSchema()

In [ ]:
df = spark.createDataFrame([(20200924,), (20201022,), (20210215,)], ['data'])
df.toPandas()

In [ ]:
df.printSchema()

In [ ]:
df = df.withColumn("data", f.to_date(df.data.cast(StringType()), 'yyyyMMdd'))
df.printSchema()

In [ ]:
df.toPandas()

In [ ]:
estabelecimentos.printSchema()

In [ ]:
estabelecimentos = estabelecimentos\
    .withColumn(
        "data_situacao_cadastral",
         f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn(
        "data_de_inicio_atividade",
        f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd')
    )\
    .withColumn(
        "data_da_situacao_especial",
        f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyMMdd')
    )

In [ ]:
estabelecimentos.limit(5).toPandas()

In [ ]:
estabelecimentos.printSchema()

In [ ]:
empresas\
    .select('*')\
    .show(5, False)

In [ ]:
socios.printSchema()

In [ ]:
socios.limit(5).toPandas()

In [ ]:
socios = socios\
    .withColumn(
        "data_de_entrada_sociedade",
         f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd')
    )

In [ ]:
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .show(5, False)

In [ ]:
df = spark.createDataFrame([(1,), (2,), (3,), (None,)], ['data'])
df.toPandas()

In [ ]:
df.show()

In [ ]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.toPandas()

In [ ]:
df.show()

In [ ]:
df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

In [ ]:
df.show()

In [ ]:
#contagem dos nulos
socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]).show()

In [ ]:
socios.limit(5).toPandas()

In [ ]:
socios.printSchema()

In [ ]:
socios.na.fill(0).limit(5).toPandas()

In [ ]:
socios.na.fill('-').limit(5).toPandas()

In [ ]:
empresas\
    .where("capital_social_da_empresa==50")\
    .show(5, False)

In [ ]:
socios.printSchema()

In [ ]:
socios\
    .select("nome_do_socio_ou_razao_social")\
    .filter(socios.nome_do_socio_ou_razao_social.startswith("RODRIGO"))\
    .filter(socios.nome_do_socio_ou_razao_social.endswith("DIAS"))\
    .limit(50)\
    .toPandas()

In [ ]:
df = spark.createDataFrame([('RESTAURANTE DO RUI',),('juca restaurante ltda',), ('Joca restaurante',)],['data'])
df\
    .where(f.upper(df.data).like('%RESTAURANTE%'))\
    .show(truncate=False)

In [ ]:
empresas\
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas['razao_social_nome_empresarial']).like("%RESTAURANTES%"))\
    .show(15, False)

# ComeÃ§ando o Trabalho
---

## Apache Spark - IntroduÃ§Ã£o

### [Apache Spark](https://spark.apache.org/)

Apache Spark Ã© uma plataforma de computaÃ§Ã£o em *cluster* que fornece uma API para programaÃ§Ã£o distribuÃ­da para processamento de dados em larga escala, semelhante ao modelo *MapReduce*, mas projetada para ser rÃ¡pida para consultas interativas e algoritmos iterativos.

O Spark permite que vocÃª distribua dados e tarefas em clusters com vÃ¡rios nÃ³s. Imagine cada nÃ³ como um computador separado. A divisÃ£o dos dados torna mais fÃ¡cil o trabalho com conjuntos de dados muito grandes porque cada nÃ³ funciona processa apenas uma parte parte do volume total de dados.

O Spark Ã© amplamente utilizado em projetos analÃ­ticos nas seguintes frentes:

- PreparaÃ§Ã£o de dados
- Modelos de machine learning
- AnÃ¡lise de dados em tempo real

### [PySpark](https://spark.apache.org/docs/latest/api/python/index.html)

PySpark Ã© uma interface para Apache Spark em Python. Ele nÃ£o apenas permite que vocÃª escreva aplicativos Spark usando APIs Python, mas tambÃ©m fornece o *shell* PySpark para analisar interativamente seus dados em um ambiente distribuÃ­do. O PySpark oferece suporte Ã  maioria dos recursos do Spark, como Spark SQL, DataFrame, Streaming, MLlib (Machine Learning) e Spark Core.

<center><img src="https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/img-001.png"/></center>

#### Spark SQL e DataFrame

Spark SQL Ã© um mÃ³dulo Spark para processamento de dados estruturados. Ele fornece uma abstraÃ§Ã£o de programaÃ§Ã£o chamada DataFrame e tambÃ©m pode atuar como mecanismo de consulta SQL distribuÃ­do.

#### Spark Streaming

Executando em cima do Spark, o recurso de *streaming* no Apache Spark possibilita o uso de poderosas aplicaÃ§Ãµes interativas e analÃ­ticas em *streaming* e dados histÃ³ricos, enquanto herda a facilidade de uso do Spark e as caracterÃ­sticas de tolerÃ¢ncia a falhas.

#### Spark MLlib

ConstruÃ­do sobre o Spark, MLlib Ã© uma biblioteca de aprendizado de mÃ¡quina escalonÃ¡vel que fornece um conjunto uniforme de APIs de alto nÃ­vel que ajudam os usuÃ¡rios a criar e ajustar *pipelines* de aprendizado de mÃ¡quina prÃ¡ticos.

#### Spark Core

Spark Core Ã© o mecanismo de execuÃ§Ã£o geral subjacente para a plataforma Spark sobre o qual todas as outras funcionalidades sÃ£o construÃ­das. Ele fornece um RDD (*Resilient Distributed Dataset*) e recursos de computaÃ§Ã£o na memÃ³ria.

## Utilizando o Spark no Windows

[fonte](https://spark.apache.org/docs/latest/api/python/getting_started/install.html)

#### Passo 1 - Instalando o Java

O PySpark requer a instalaÃ§Ã£o do Java na versÃ£o 7 ou superior. Obtenha a versÃ£o mais recente clicando [aqui](https://www.java.com/pt-BR/download/). Para verificar a versÃ£o que estÃ¡ instalada em sua mÃ¡quina execute a seguinte linha de cÃ³digo no seu *prompt*:

```
java -version
```

#### Passo 2 - Instalando o Python

O Python deve ser instalado em sua versÃ£o 2.6 ou superior. Para obter a versÃ£o mais recente clique [aqui](https://www.python.org/downloads/windows/). Para verificar a versÃ£o do Python que estÃ¡ instalada em sua mÃ¡quina digite o seguinte comando em seu *prompt*:

```
python --version
```

#### Passo 3 - Instalando o Apache Spark

Selecione a versÃ£o mais estÃ¡vel clicando [aqui](http://spark.apache.org/downloads.html). Na criaÃ§Ã£o deste projeto utilizamos a versÃ£o do Spark **3.1.2** e como tipo de pacote selecionamos **Pre-built for Apache Hadoop 2.7**.

Para instalar o Apache Spark nÃ£o Ã© necessÃ¡rio executar um instalador, basta descomprimir os arquivos em uma pasta de sua escolha.

<font color=red>Obs.: certifique-se de que o caminho onde os arquivos do Spark foram armazenados nÃ£o contenham espaÃ§os (ex.: **"C:\spark\spark-3.1.2-bin-hadoop2.7"**).</font>

Para testar o funcionamento do Spark execute os comandos abaixo em seu *prompt* de comando. Esses comandos assumem que vocÃª extraiu os arquivos do Spark na pasta **"C:\spark\"**.

```
cd C:\spark\spark-3.1.2-bin-hadoop2.7
```

```
bin\pyspark
```

O comando acima inicia o *shell* do PySpark que permite trabalhar interativamente com o Spark.

Para sair basta digitar `exit()` e logo depois presionar *Enter*. Para voltar ao *prompt* pressione *Enter* novamente.

#### Passo 4 - Instalando o findspark

```
pip install findspark
```

#### Passo 5 - Instalando o winutils

Os arquivos do Spark nÃ£o incluem o utilitÃ¡rio **winutils.exe** que Ã© utilizado pelo Spark no Windows. Se nÃ£o informar onde o Spark deve procurar este utilitÃ¡rio, veremos alguns erros no console e tambÃ©m nÃ£o conseguiremos executar *scripts* Python utilizando o utilitÃ¡rio `spark-submit`.

FaÃ§a o [download](https://github.com/steveloughran/winutils) para a versÃ£o do Hadoop para a qual sua instalaÃ§Ã£o do Spark foi construÃ­da. Em nosso exemplo foi utilizada a [versÃ£o 2.7](https://github.com/steveloughran/winutils/tree/master/hadoop-2.7.1/bin). FaÃ§a o *download* apenas do arquivo **winutils.exe**.

Crie a pasta **"hadoop\bin"** dentro da pasta que contÃ©m os arquivos do Spark (em nosso exemplo **"C:\spark\spark-3.1.2-bin-hadoop2.7"**) e copie o arquivo **winutils.exe** para dentro desta pasta.

Crie duas variÃ¡veis de ambiente no seu Windows. A primeira chamada **SPARK_HOME** que aponta para a pasta onde os arquivos Spark foram armazenados (em nosso exemplo **"C:\spark\spark-3.1.2-bin-hadoop2.7"**). A segunda chamada **HADOOP_HOME** que aponta para **%SPARK_HOME%\hadoop** (assim podemos modificar **SPARK_HOME** sem precisar alterar **HADOOP_HOME**).

## Utilizando o Spark no Google Colab

Para facilitar o desenvolvimento de nosso projeto neste curso vamos utilizar o Google Colab como ferramenta e para configurar o PySpark basta executar os comandos abaixo na prÃ³pria cÃ©lula do seu *notebook*.

# instalar as dependÃªncias
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

import findspark
findspark.init()

# Carregamento de Dados
---

## [SparkSession](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.html)

O ponto de entrada para programar o Spark com a API Dataset e DataFrame.

Uma SparkSession pode ser utilizada para criar DataFrames, registrar DataFrames como tabelas, executar consultas SQL em tabelas, armazenar em cache e ler arquivos parquet. Para criar uma SparkSession, use o seguinte padrÃ£o de construtor:

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

spark

## Acessando o [Spark UI](https://spark.apache.org/docs/latest/web-ui.html) (Google Colab)



[Site ngrok](https://ngrok.com)









## DataFrames com Spark


### Interfaces Spark

Existem trÃªs interfaces principais do Apache Spark que vocÃª deve conhecer: Resilient Distributed Dataset, DataFrame e Dataset.

- **Resilient Distributed Dataset**: A primeira abstraÃ§Ã£o do Apache Spark foi o Resilient Distributed Dataset (RDD). Ã uma interface para uma sequÃªncia de objetos de dados que consiste em um ou mais tipos localizados em uma coleÃ§Ã£o de mÃ¡quinas (um cluster). Os RDDs podem ser criados de vÃ¡rias maneiras e sÃ£o a API de ânÃ­vel mais baixoâ disponÃ­vel. Embora esta seja a estrutura de dados original do Apache Spark, vocÃª deve se concentrar na API DataFrame, que Ã© um superconjunto da funcionalidade RDD. A API RDD estÃ¡ disponÃ­vel nas linguagens Java, Python e Scala.

- **DataFrame**: Trata-se de um conceito similar ao DataFrame que vocÃª pode estar familiarizado como o pacote pandas do Python e a linguagem R . A API DataFrame estÃ¡ disponÃ­vel nas linguagens Java, Python, R e Scala.

- **Dataset**: uma combinaÃ§Ã£o de DataFrame e RDD. Ele fornece a interface digitada que estÃ¡ disponÃ­vel em RDDs enquanto fornece a conveniÃªncia do DataFrame. A API Dataset estÃ¡ disponÃ­vel nas linguagens Java e Scala.

Em muitos cenÃ¡rios, especialmente com as otimizaÃ§Ãµes de desempenho incorporadas em DataFrames e Datasets, nÃ£o serÃ¡ necessÃ¡rio trabalhar com RDDs. Mas Ã© importante entender a abstraÃ§Ã£o RDD porque:

- O RDD Ã© a infraestrutura subjacente que permite que o Spark seja executado com tanta rapidez e forneÃ§a a linhagem de dados.

- Se vocÃª estiver mergulhando em componentes mais avanÃ§ados do Spark, pode ser necessÃ¡rio usar RDDs.

- As visualizaÃ§Ãµes na Spark UI fazem referÃªncia a RDDs.

data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

%%html
<a href="your_url_here">Showing Text</a>




## Projeto

Nosso projeto consiste em ler, manipular, tratar e salvar um conjunto de dados volumosos utilizando como ferramenta o Spark.

## Carregamento de dados

### Dados PÃºblicos CNPJ
#### Receita Federal

> [Empresas](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/empresas.zip)
>
> [Estabelecimentos](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/estabelecimentos.zip)
>
> [SÃ³cios](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/socios.zip)

[Fonte original dos dados](https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj)

---
[property SparkSession.read](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.read.html)

[DataFrameReader.csv(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html)


### Montando nosso drive

from google.colab import drive
drive.mount('/content/driv..e')

### Carregando os dados das empresas









## FaÃ§a como eu fiz: Estabelecimentos e SÃ³cios

### Carregando os dados dos estabelecimentos







### Carregando os dados dos sÃ³cios







# Manipulando os Dados
---

## OperaÃ§Ãµes bÃ¡sicas



### Renomeando as colunas do DataFrame

empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']



estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']



sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']



## Analisando os dados

[Data Types](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#data-types)













## Modificando os tipos de dados

[Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#functions)

[withColumn](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.withColumn.html)

### Convertendo String â Double

#### `StringType â DoubleType`















### Convertendo String â Date

#### `StringType â DateType`

[Datetime Patterns](https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html)

df = spark.createDataFrame([(20200924,), (20201022,), (20210215,)], ['data'])
df.toPandas()























# SeleÃ§Ãµes e consultas
---

## Selecionando informaÃ§Ãµes

[DataFrame.select(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.select.html)







## FaÃ§a como eu fiz



## Identificando valores nulos

df = spark.createDataFrame([(1,), (2,), (3,), (None,)], ['data'])
df.toPandas()

df.show()

5d df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.toPandas()

df.show()

df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

df.show()















## Ordenando os dados

[DataFrame.orderBy(*cols, **kwargs)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.orderBy.html)





## Filtrando os dados

[DataFrame.where(condition)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.where.html) ou [DataFrame.filter(condition)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.filter.html)



#  Fabio

# %%html
<a href="your_url_here">Showing Text</a>


# O comando LIKE

[Column.like(other)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.Column.like.html)

df = spark.createDataFrame([('RESTAURANTE DO RUI',), ('Juca restaurantes ltda',), ('Joca Restaurante',)], ['data'])
df.toPandas()





# AgregaÃ§Ãµes e JunÃ§Ãµes
---

[DataFrame.groupBy(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.groupBy.html)

[DataFrame.agg(*exprs)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.agg.html)

[DataFrame.summary(*statistics)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.summary.html)

> FunÃ§Ãµes:
[approx_count_distinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.approx_count_distinct.html) |
[avg](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.avg.html) |
[collect_list](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.collect_list.html) |
[collect_set](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.collect_set.html) |
[countDistinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.countDistinct.html) |
[count](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.count.html) |
[grouping](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.grouping.html) |
[first](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.first.html) |
[last](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.last.html) |
[kurtosis](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.kurtosis.html) |
[max](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.max.html) |
[min](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.min.html) |
[mean](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.mean.html) |
[skewness](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.skewness.html) |
[stddev ou stddev_samp](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.stddev.html) |
[stddev_pop](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.stddev_pop.html) |
[sum](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.sum.html) |
[sumDistinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.sumDistinct.html) |
[variance ou var_samp](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.variance.html) |
[var_pop](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.var_pop.html)

## Sumarizando os dados







## Juntando DataFrames - Joins

[DataFrame.join(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.join.html)































## SparkSQL

[SparkSession.sql(sqlQuery)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.sql.html)

Para saber mais sobre performance: [Artigo - Spark RDDs vs DataFrames vs SparkSQL](https://community.cloudera.com/t5/Community-Articles/Spark-RDDs-vs-DataFrames-vs-SparkSQL/ta-p/246547)

















# Formas de Armazenamento
---

## Arquivos CSV

[property DataFrame.write](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.write.html)

[DataFrameWriter.csv(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.csv.html)







## FaÃ§a como eu fiz





## Arquivos PARQUET

[Apache Parquet](https://parquet.apache.org/)

[DataFrameWriter.parquet(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.parquet.html)







## Particionamento dos dados

[DataFrameWriter.partitionBy(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.partitionBy.html)

In [ ]:
socios\
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .where('ano_de_entrada >= 200')\
    .groupBy('ano_de_entrada')\
    .count()\
    .orderBy('ano_de_entrada', ascending=True)\
    .show()

In [ ]:
empresas\
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy('porte_da_empresa')\
    .agg(
        f.avg('capital_social_da_empresa').alias('capital_social_medio'),
    )\
    .orderBy('porte_da_empresa', ascending=True)\
    .show()

In [ ]:
empresas\
    .select('capital_social_da_empresa')\
    .summary()\
    .show()

## juntar dataframes

In [ ]:
produtos = spark.createDataFrame(
    [
        ('1', 'Bebidas', 'Ãgua mineral'),
        ('2', 'Limpeza', 'SabÃ£o em PÃ³'),
        ('3', 'Frios', 'Queijo'),
        ('4', 'Bebidas', 'Refrigerante'),
        ('5', 'Pet', 'RaÃ§Ã£o para cÃ£es'),
    ],['id', 'cat', 'prod']
)

impostos = spark.createDataFrame(
    [
        ('Bevidas', '0.15'),
        ('Limpeza', '0.05'),
        ('Frios', '0.065'),
        ('Carnes', '0.08'),
    ],['cat', 'tax']
)

In [ ]:
produtos.join(impostos, 'cat', how='inner')\
    .sort('id')\
    .show()

In [ ]:
produtos.join(impostos, 'cat', how='left')\
    .sort('id')\
    .show()

In [ ]:
produtos.join(impostos, 'cat', how='outer')\
    .sort('id')\
    .show()

In [ ]:
empresas.printSchema()

In [ ]:
empresas_join = estabelecimentos.join(empresas, "cnpj_basico", how='inner')

In [ ]:
empresas.printSchema()

In [ ]:
freq = empresas_join\
    .select(
        'cnpj_basico',
        f.year('data_de_inicio_atividade').alias('data_de_inicio')
    )\
    .where('data_de_inicio >=2010')\
    .groupBy('data_de_inicio')\
    .agg(f.count('cnpj_basico').alias('frequencia'))\
    .orderBy('data_de_inicio', ascending = True)

In [ ]:
freq.show()

In [ ]:
freq.toPandas()

In [ ]:
freq.union(
    freq.select(
        f.lit('Total').alias("data_de_inicio"),
        f.sum(freq.frequencia).alias('frequencia')
    )
).show()

In [ ]:
empresas.createOrReplaceTempView('empresasview')

In [ ]:
spark.sql("select * from empresasview").show(5)

In [ ]:
spark\
    .sql("""
        select *
        from empresasview where capital_social_da_empresa >=50
        """)\
    .show(5)

In [ ]:
spark\
    .sql("""
        select porte_da_empresa, MEAN(capital_social_da_empresa) AS media
        from empresasview
        Group by porte_da_empresa
        """)\
    .show(5)

In [ ]:
empresas.write.csv(
    path=empresa_path+'/pastacsv',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
empresas2 = spark.read.csv(empresa_path+'/pastacsv', sep=';', inferSchema=True, header=True)

In [ ]:
empresas2.printSchema()

In [ ]:
empresas.write.parquet(
    path=empresa_path+'/parquet',
    mode='overwrite'
)

In [ ]:
empresas3= spark.read.parquet(empresa_path+'/parquet')

In [ ]:
empresas3.printSchema()

In [ ]:
empresas.coalesce(1).write.csv(
    path=empresa_path+'/csvunico',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
empresas.write.parquet(
    path=empresa_path+'/pastaunica',
    mode='overwrite',
    partitionBy='porte_da_empresa'
)

In [ ]:
spark.stop()